<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karta" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.KartaApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/kartalogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KartaApp"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".TambahstatusActivity"
            android:exported="false" />
        <activity
            android:name=".StatuskartaActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
        <activity android:name=".EdittampilagtActivity" />
        <activity android:name=".TambahagtActivity" />
        <activity android:name=".TampilagtActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".KeuanganActivity" />
        <activity android:name=".KegiatanActivity" />
        <activity android:name=".TambahKegiatanActivity" />
        <activity android:name=".FormKeuanganActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.karta.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>